/* Color Palette 1 */

html {
  --smoky-black: #12130fff;
  --cultured: #eff1edff;
  --green-cyan: #2d936cff;
  --dark-spring-green: #297045ff;
  --rose-madder: #e71d36ff;
  --sizzling-red: #ff5a5fff;
  --copper-rose: #986c6aff;
  --cornflower-blue: #7796cbff;
}
